.auth-body {
  padding: 3%;
  margin-top: 2%;
  width: 30% !important;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-color: #1f1f1f;
  color: rgb(255, 255, 255);
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}
/* .row img{
  position: relative;
  height: 750px;
  width: 100%;
} */
.slider{
  position: absolute;
  top: 80px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  
}

.auth-body .slider {
  width: 200%;
  position: relative;
  transition: transform ease-out 0.3s;
  display: flex;
  
}

#register_toggle {
  display: none;
}

.container #register_toggle:checked + .slider {
  transform: translateX(-50%);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 1.5em 3em;
  
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}

form .form_control {
  width: 50%;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  
}

form .form_control .label {
  position: absolute;
  top: 50%;
  left: 10px;
  transition: transform ease 0.2s;
  transform: translate(0%, -50%);
  font-size: 1rem;
  user-select: none;
  pointer-events: none;
  color: #ffffff;
}

form .form_control .input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: box-shadow ease 0.2s;
  box-shadow: 0px 0px 0px #8f8d8d, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 1.5px 1.5px 3px #f1f4f5, inset -1.5px -1.5px 3px #5f5e5e;
}

form .form_control .input:focus,
form .form_control .input:valid {
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

form .form_control .input:focus + .label,
form .form_control .input:valid + .label {
  transform: translate(-150%, -50%);
}

form button {
  width: 20%;
  background-color: black;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: box-shadow ease 0.1s;
  box-shadow: 1.5px 2px 3px 2px #fdfeff, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #f8fafc, inset 0px -0px 0px #5f5e5e;
}
form button:hover{
  background-color: white;
  color: #0e0e0e;
  transition: box-shadow ease 0.1s;
  box-shadow: 1.5px 2px 3px 2px #121213, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e1011, inset 0px -0px 0px #5f5e5e;
}
form button:active {
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}
.select{
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 5px;
  transition: box-shadow ease 0.2s;
  box-shadow: 0px 0px 0px #8f8d8d, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 1.5px 1.5px 3px #f1f4f5, inset -1.5px -1.5px 3px #5f5e5e;
}
.bottom_text {
  font-size: 1rem;
}

.bottom_text .swtich {
  font-weight: 700;
  cursor: pointer;
}
.user-type{
  width: 100%;
  background-color: rgba(20, 20, 20, 0.25) !important;
  color: white !important;
  border: 0 !important;
  border-radius: 1px;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
  inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;

}
.select{
  background-color: black;
}
/* .user-type:hover{
  background-color: rgb(0, 0, 0) !important;
  color: white;
} */
